li{list-style: none;}
a { text-decoration: none; }

body{background-color: #181818; color: white;}
    

.wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1fr);
    
    grid-template-areas: 
    "video price"
    "video user"
    "bottom-left bottom-right"
    "bottom-left bottom-right-under";

}
.video{grid-area: video;}
.price{grid-area: price;}
.user{grid-area: user;}
.bottom-left{grid-area: bottom-left;}
.bottom-right{grid-area: bottom-right;}
.bottom-right-under{grid-area: bottom-right-under;}

#headerContainer{
    height: 150px;
}
/* main */
.wrapper{
    max-width: 1200px;
    min-width: 380px;
    position: relative;
    margin: 0 auto;
    background-color: #24201B;  
}
/* wr-video */
.wrapper>.video{ 
    width: 750px;
    height: 420px;

}
/* wr-price */
.wrapper>.price{
    width: 450px;
    height: 225px;
    border-bottom: 3px solid #CB863D;
}
/* wr-pr-list */
.wrapper>.price>.list{
    height: 125px;
}
.wrapper>.price>.list>span{ 
    font-size: 20px;
    font-weight: bold;
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 5px; 
}
.wrapper>.price>.list>ul>li{ 
    font-size: 18px;
    padding-left: 20px;
}
.wrapper>.price>.list>ul>li:nth-child(1){
    padding-top: 15px;
}
.wrapper>.price>.list>ul>li:nth-child(2){
    padding-top: 5px;
}

/* wr-pr-btn */
.wrapper>.price>.btn{
    position: absolute;
    right: 1.5%;
    top: 1%;
}
.wrapper>.price>.btn>ul>li{
    border-radius: 10px;
    width: 80px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 12px;
    font-size: 14px;
}
.wrapper>.price>.btn>ul>li>a{
    color: white;
}
.wrapper>.price>.btn>ul>li:nth-child(1){
    background-color: #4a4a4a;
}
.wrapper>.price>.btn>ul>li:nth-child(1):hover{
    color: #1d1c1c;
}
.wrapper>.price>.btn>ul>li:nth-child(2){
    background-color: #294396;
}
.wrapper>.price>.btn>ul>li:nth-child(2):hover{
    color: #0c1e5a;
}
.wrapper>.price>.btn>ul>li:nth-child(3){
    background-color: #31D236;
}
.wrapper>.price>.btn>ul>li:nth-child(3):hover{
    color: #0f4d11;
}

/* wr-pr-pay_btn */
.wrapper>.price>.pay-btn{
    display: flex;
    width: 450px;
    justify-content: end;

    position: absolute;
    right: 1px;
    top: 15.5%;

  border-top: 3px solid #CB863D;  
}
.wrapper>.price>.pay-btn>ul{
    display: flex;
}
.wrapper>.price>.pay-btn>ul>li{
    background-color: orange;
    
    border-radius: 10px;
    width: 107px;
    height: 35px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 14px;
    margin-top: 20px;
}
.wrapper>.price>.pay-btn>ul>li:hover{
    color: rgb(158, 105, 6);
}
.wrapper>.price>.pay-btn>ul>li>a{
    color: white;
    font-size: 15px;
}
/* wr-user */
.wrapper>.user{
    width: 450px;
    height: 167px;
    
}
.wrapper>.user>.user-emoji{
    position: relative; 
}
.wrapper>.user>.user-emoji>ul{}
.wrapper>.user>.user-emoji>ul>li{
    width: 200px;
    height: auto;
    display: flex;
    text-align: center;
    
}
.wrapper>.user>.user-emoji>ul>li>span{
    display: block;

    text-align: center;
    font-size: 30px; 
    padding: 17px 45px;
}
.wrapper>.user>.user-emoji>ul>li>a>.material-symbols-outlined{
    width: 50px;
    height:50px;

    padding-left: 20px;
    margin-top: 15px;
    font-size: 50px;
}
.wrapper>.user>.user-emoji>ul>li:nth-child(1)>a:hover{
    color: #31D236;
}
.wrapper>.user>.user-emoji>ul>li:nth-child(2)>a:hover{
    color:#AA2828;
}

.wrapper>.user>.chart>.pie{
    display:inline-block;
    width: 120px;
    height: 120px;
    background: conic-gradient(#AA2828 50% 50%,#72DA58 50% 50%);
    border-radius: 50%;  
   
    position: absolute;
    right: 2%;
    top: 28%;
}
.wrapper>.bottom-left{
    width: 750px;
    height: 491px;
    border-top: 3px solid #CB863D;
    background-color: #262322;
}
.wrapper>.bottom-left>div>ul{
    margin: 0; 
    padding : 0 15px 0 0;

}
.wrapper>.bottom-left>div>ul>li>p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-break: keep-all;
    line-height:32px;
}

.wrapper>.bottom-left>div>ul>li>p:nth-child(1){
    font-size: 20px;
    font-weight: bolder;
    margin-top: 5%;
}
.wrapper>.bottom-left>div>ul>li>p:nth-child(2){
    font-size: 13px;
}
.wrapper>.bottom-left>div>ul>li>p:nth-child(3){
    font-size: 13px;
}
.wrapper>.bottom-left>div>ul>li>div{
    height: 100%;
    text-align: center;
    justify-content: center;
    font-size: 13px;
    line-height: 20px;
    color: #A8B5C0;    
}
.wrapper>.bottom-left>div>ul>li:last-child{
    margin-top: 90px;
}

/* 슬라이드 구역 */

.slider-block {
    overflow: hidden;
    width: 450px;
    height: 330px;
    margin: auto;
    position: relative;
    align-items: center;
    border-top: 3px solid #CB863D;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;   
}
.slider-wrapper>.item>p{
    font-size: 20px;
    font-weight: bold;
    height: 30px;

    padding-top: 15px;
    padding-left: 10px;
}

.slider-wrapper .item {
    width: 450px;
    height: 250px;
    flex-shrink: 0;
    display: flex;
    position: relative;
}

.slider-wrapper .show {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

    top: 60px;
}

.show.one {
    background-image: url(../image/dlc1.jpg);
    background-size: 450px 250px;
}
.show.two {
    background-image: url(../image/dlc2.jpg);
    background-size: 450px 250px;
}
.show.three {
    background-image: url(../image/dlc3.jpg);
    background-size: 450px 250px;
}

.prev, .next {
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 18px;

    top: 15px;
    right: 20px;
}

.prev {
    padding-right: 50px;
}
.next {}

input[type="radio"] {
    display: none;
}

#slide1:checked ~ .slider-wrapper {
    transform: translateX(0%);
}
#slide2:checked ~ .slider-wrapper {
    transform: translateX(-100%);
}
#slide3:checked ~ .slider-wrapper {
    transform: translateX(-200%);
}

/* wr-bru */
.wrapper>.bottom-right-under{
    width: 450px;
    height: 172px;
    font-size: 20px;
    font-weight: bold;

    border-top: 3px solid #CB863D;

    position: relative;
    align-items: center;
}
.wrapper>.bottom-right-under>div{
    margin-top: 10px;
    padding-left: 2%;
}
.wrapper>.bottom-right-under>section>.image{
    padding: 10px 8px 0 13px;
    align-items: center;
}
.wrapper>.bottom-right-under>section>.image>ul{
    display: flex;
    justify-content: space-between;
}
