.searchBar {
  border-bottom: 3px solid #CB863D;
  display: flex;
  width: 100%;
  height: 250px;
  background-color: #24201B;
  justify-content: center;
  align-items: center;
}

.searchBar>.select {
  margin-right: 30px;

}

.searchBar>.select>span {
  display: block;
  width: 200px;
  height: 35px;
  border-bottom: 3px solid #CB863D;
  color: white;
}


select {
  margin-top: 5px;
  width: 200px;
  height: 50px;
  background-color: #D0CAC3;
}

.searchBar>.search {
  margin-top: 20px;
}

.searchBar>.search>.searchBox {
  background-color: #d9d9d9;
  width: 220px;
  height: 60px;
  display: flex;
  border-radius: 15px;
  justify-content: center;
  align-items: center;

}

.searchBar>.search>.searchBox>img {
  margin-left: 15px
}

.searchBar>.search>.searchBox>input {
  width: 150px;
  height: 40px;
  background-color: #d9d9d9;
  padding-left: 10px;
  font-size: 18px;
  border: none;
}

.board {
  width: 300px;
  background-color: #262322;
  color: white;
  height: 100vh;
}
