.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1b1918;
    height: 100px;
    margin-top: auto;
}

.fList {
    position: relative;
}

.fList ul {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

