@charset 'utf-8';

.header {
    position: fixed;
    display: flex;
    width: 100vw;
    height: 150px;
    background: #0f0f10;
    z-index: 999;
    padding: 0 15px;
}

.logo {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: end;
    width: 385px;
    height: 100%;
}

.logo>img {
    height: 150px;
}

.hNav {
    position: relative;
    display: flex;
    flex: 3;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    width: 950px;
}


.hNav>li {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    border-radius: 5px;
    transition: all 0.3s;
}


.hNav>li>a {
    color: #fff;
}

.hNav>li>span::after {
    content: url("../asset/r_arrow.svg");
    position: absolute;
    margin-top: 3px;
}

.hNav>li:nth-child(n+3):hover {
    border-top: 1px solid #cb863d;
    color: #cb863d;
}

.hNav>li:nth-child(n+3):hover span::after {
    transform: rotate(90deg);
    transition: all 0.3s;
}

.hNav>li:nth-child(n+3):hover .smallList {
    transition: all 0.3s;
    visibility: visible;
}

.smallList {
    position: absolute;
    display: block;
    visibility: hidden;
    top: 100%;
    width: 100%;
    padding-top: 5px;
    background: #1d1d21;
    z-index: 999;
}

.smallList>li {
    height: 50px;
    padding: 10px 5px;
    border-bottom: 2px solid #cb863d;
    border-radius: 5px 5px 0 0;
}

.smallList>li>a {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
}

.smallList>li>a:hover {
    color: #cb863d;
    transition: 0.2s;
}

.hSearch {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    margin: 0 15px 0 10px;
}

.hSearchBar {
    position: relative;
    width: 270px;
}

.hSearchBar form {
    position: relative;
    display: flex;
    align-items: center;
}

.hSearchBar form input {
    width: 100%;
    height: 50px;
    background: #f2f4f8;
    border: none;
    border-radius: 10px;
    padding: 0 10px 0 50px;
}

.hSearchBar form img {
    position: absolute;
    display: block;
    margin-left: 15px;
}

.sign {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 1;
    gap: 15px;
}

.sign>img {
    display: block;
    width: 50px;
    height: 50px;
}

.account {
    position: relative;
    width: 120px;
    color: #fff;
}

.account span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 18px;
}

.account span::after {
    content: url("../asset/r_arrow2.svg");
    position: absolute;
    right: 0;
}

.account:hover span::after {
    transform: rotate(90deg);
    transition: all 0.3s;
}

.account:hover span {
    border-top: 1px solid #CB863D;
    border-radius: 5px;
}

.account:hover .acList {
    transition: all 0.3s;
    visibility: visible;
}


.acList {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    width: 100%;
    background: #1d1d21;
    padding: 10px 0;
}

.acList>li {
    margin: 10px 0;
}

.acList>li>a {
    color: #fff;
}

.acList>li>a:hover {
    color: #cb863d;
    transition: all 0.3s;
}

/* 1120width이하 메뉴 */
.hamMenu {
    position: relative;
    display: flex;
    flex: 0.5;
    justify-content: center;
    align-items: center;
}

.hamMenu:hover{
    background: #CB863D;
    transition: all 0.2s;
}

.hamMenu:hover .hamList {
    visibility: visible;
    transition: all 0.3s;
}

.hamMenuIcon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hamMenuIcon>img {
    width: 50px;
    height: 50px;
}

.hamList {
    position: absolute;
    visibility: hidden;
    width: 30vw;
    /* 스크롤바 너비만큼 left 수정필요 */
    left: calc(-30vw + 100%);
    height: 500px;
    background: #262322;
}

.hamSearch {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    height: 399px;
    border-bottom: 1px solid #CB863D;
}

.hamSearch form {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.hamSearch form input {
    width: 100%;
    height: 50px;
    background: #f2f4f8;
    border: none;
    border-radius: 10px;
    padding: 0 10px 0 50px;
}

.hamSearch form img {
    position: absolute;
    display: block;
    margin-left: 15px;
}

.searchResult {
    position: relative;
    flex: 3;
    height: 100%;
    padding-top: 20px;
}

.result {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 15px;
}

.resultImg {
    width: 100px;
    height: 50px;
    background-color: #ccc;
}

.resultName {
    color: #fff;
}

.hamSign {
    position: relative;
    display: flex;
    height: 85px;
}

.hamProfile {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 2;
    height: 100%;
    border-right: 1px solid #CB863D;
}

.hamProfile>img {
    width: 50px;
    height: 50px;
}

.hamProfile>span {
    margin-left: 25px;
    color: #fff;
}

.signbtn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    height: 100%;
    background: transparent;
    border: none;
    cursor: pointer;
}

.signbtn>img {
    width: 50px;
    height: 50px;
}

/* 1200width 반응형 */
@media (max-width: 1200px) {
    .sign>img {
        display: none;
    }
    .sign {
        justify-content: center;
    }
}

/* 1120width 반응형 */
@media (max-width: 1120px) {
    .hSearch,.sign {
        display: none;
    }

    .hamMenu {
        display: block;
    }
}

@media(min-width: 1121px) {
    .hamMenu {
        display: none;
    }
}